<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title><%=title%> </title>
      <link rel="stylesheet" href="css/main.css">
      <link rel="stylesheet" href="css/utils.css">
      <link rel="stylesheet" href="css/mobile.css">
      <link rel="icon" type="image/x-icon" href="/img/clglogo.png">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
      <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body class="" id="body">
      <div class="loader" id="loader">
            <div>
      
            </div>
          </div>
          <%-include("../partials/topbanner")%>
          <%-include("../partials/header")%>

      <!-- <main> -->

      <section class="section4">
            <div class="max-width mx-auto facilities-container">
                  <h1 class="text-bold text-center my-2 ">Our Facilities</h1>
                  <div class="max-width1 mx-auto">
                        <hr>
                  </div>
                  <div class="facilities">
                        <div class="facilities-row flex">
                              <div class="facilities-left">
                                    <img src="img/library.png" loading="lazy" alt="">
                              </div>
                              <div class="facilities-right flex justify-center flex-col">
                                    <h1>World Class Library</h1>
                                    <p> A library is a place where books and sources of information are stored.
                                          They make it easier for people to get access to them for various
                                          purposes.
                                          Libraries are very helpful and economical too.</p>
                              </div>

                        </div>
                        <div class="max-width1 mx-auto">
                              <hr>
                        </div>
                        <div class="facilities-row flex flex-rev" data-aos="fade-left"
                        >
                              <div class="facilities-left fac-img1">
                                    <img src="img/play.png" loading="lazy" alt="">
                              </div>
                              <div class="facilities-right flex justify-center flex-col">
                                    <h1>Large Play Ground</h1>
                                    <p>A playground is an area used by students to play in. We usually have
                                          equipment such as slides, swings and seesaws for children to play on.
                                          They are usually outside, but we have incampus.</p>
                              </div>
                        </div>
                        <div class="max-width1 mx-auto">
                              <hr>
                        </div>
                        <div class="facilities-row flex" data-aos="fade-right"
                        >
                              <div class="facilities-left fac-img2">
                                    <img src="img/edu.png" loading="lazy" alt="">
                              </div>
                              <div class="facilities-right flex justify-center flex-col">
                                    <h1>Special Education</h1>
                                    <p>It is the practice of educating students in a way that accommodates their special
                                          needs. This involves systematically monitored arrangement of teaching
                                          procedures, accessible settings</p>
                              </div>
                        </div>
                        <div class="max-width1 mx-auto">
                              <hr>
                        </div>
                        <div class="facilities-row flex flex-rev" data-aos="fade-left"
                        >
                              <div class="facilities-left">
                                    <img src="img/hostel.png" loading="lazy" alt="">
                              </div>
                              <div class="facilities-right flex justify-center flex-col">
                                    <h1>College Hostel</h1>
                                    <p> The hostel offer scopes like hygienic washrooms, clean and tidy rooms, good
                                          food, recreational space, and playground for outdoor games along with strict
                                          vigilance. Other necessities like round-the-clock internet connection are also
                                          present. </p>
                              </div>
                        </div>
                        <div class="max-width1 mx-auto">
                              <hr>
                        </div>
                        <div class="facilities-row flex" data-aos="fade-right"
                        >
                              <div class="facilities-left ">
                                    <img src="img/placement.png" loading="lazy" alt="">
                              </div>
                              <div class="facilities-right flex justify-center flex-col">
                                    <h1>Placement </h1>
                                    <p> Campus placement is a necessary feature of our college. But the training around
                                          it constitutes the facilities that you can expect from such colleges. A
                                          vigilant training and placement cell is a must-have facility within our
                                          college. </p>
                              </div>
                        </div>

                  </div>
            </div>
      </section>
      <!-- <div class="max-width1 mx-auto"><hr></div> -->


      <%-include("../partials/footer")%>

      <%-include("../partials/loaderscript")%>





      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>
      <script src="https://kit.fontawesome.com/23ed0aa629.js" crossorigin="anonymous"></script>
      <script src="js/main.js" defer></script>
</body>

</html>